<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Enter Otp</title>
<style>
    body
    {
        background-image: url("../images/iStock-808424876-scaled.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        
    }
</style>
</head>
<body>

    
    <h1 th:text="${msg}" style="color: whitesmoke;"></h1>
    <form action="/submit-otp" method="post">
   <h1 style="color: whitesmoke;"> Enter Otp: </h1><input type="number" name="otp">
    <input type="hidden" name="id" th:value="${id}">
    <button>Submit</button>


    </form>
	
	</br>
    <a th:href="'/resend-otp/'+${id}"><Button>Resend-Otp</Button></a>
</body>
</html>